body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: white;
}
#googlelogo {
    width: 150px;
}
#search-box {
    margin-left: 30px;
    border: 1px solid #f3f3f3;
    border-radius: 24px;
    padding: 7px;
    display: flex;
    width: 500px;
    background-color: white;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
}
#container {
    display: flex;
    align-items: center;
}
#search-input {
    margin-left: 10px;
    border: none;
    width: 85%;
    padding: 7px;
    font-size: 16px;
    border-radius: 5px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}
#searchicon {
    width: 20px;

}
#search-button {
    border: none;
    background-color: white;
    margin-left: 40px;
    padding: 5px 15px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}
#header {
    background-color: #f2f2f2;
    padding: 10px;
    border-bottom: 1px solid #ccc;
    display: flex
}
#search-results {
    margin: 20px;
}
.result {
    margin-bottom: 20px;
    display: flex;
    align-items: flex-start;
}
.result-image {
    width: 120px;
    height:120px;
    margin-right: 10px;
}
.result-content {
    flex: 1;
}
.result-title {
    font-size: 18px;
    font-weight: bold;
    color: #1a0dab;
    margin-bottom: 5px;
}
.result-url {
    color: #006621;
    text-decoration: none;
}
.result-description {
    color: #545454;
}
.summary-title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}
.summary-bold {
    font-weight: bold;
}
.summary-content {
    color: #545454;
}
#wikipedia-summary {
    width: 15%;
    padding: 10px;
    margin-right: 20%;
    border: 1px solid #d8d7d7;
    border-radius: 8px;
    background-color: #ffffff;
    font-size: 14px;
}
#content-wrapper {
    display: flex;
    justify-content: space-between;
    margin: 20px;
}
#imgviki{
    width: 100%;
}
.videos{
    font-size: 18px;
    font-weight: bold;
}
#videoicon{
    width: 25px;
    padding-left: 10px;
    padding-right: 10px;
}
#dogvideo{
width: 200px;
margin-left: 20px;
margin-right: 10px;
}
#return{
    margin-left: 900px;
    border-radius: 8px;
    padding: 5px;
    font-size: 16px;
    background-color: #c9c9c9;
    border-color: #9c9c9c;

}
#signin{
    background-color: #3367d6;
    border-radius: 8px;
    color: white;
    border: none;
    padding: 0px 15px;
    font-size: 16px;
    margin-left: 15px;
}